{% extends 'base.html'%} {% block title %} EventsPortal | login{% endblock %}
{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">User details</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Alcherid</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <form method="POST" action="/accounts/profile/add_member/">
            <!-- Email input -->
            {% csrf_token %}
            <div class="form-outline mb-4">
                <input type="text" id="form1Example1" class="form-control" name="username" />
                <label class="form-label" for="form1Example1">Full Name</label>
            </div>

            <div class="form-outline mb-4">
                <input type="email" id="form1Example1" class="form-control" name='email' />
                <label class="form-label" for="form1Example1">Email</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="number" id="form1Example2" class="form-control" name="phone" />
                <label class="form-label" for="form1Example2">Phone</label>
            </div>
            <h1>Gender</h1>
            <div class="form-check">
                <select name="gender">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <label class="form-label" for="flexRadioDefault1">
                    Gender
                </label>
            </div>

            <!-- Submit button -->

            <button type="submit" class="btn btn-primary btn-block">Save and add another</button>
        </form>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <form method="POST" action="/accounts/profile/add_member/">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="form1Example1" class="form-control" name="alcher_id" />
                <label class="form-label" for="form1Example1">Alcher id </label>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Save and add another</button>
        </form>
    </div>
    <a href="/accounts/profile">Go to profile</a>
</div>
{% endblock %}