{% extends 'base.html'%} {% block title %} EventsPortal | login{% endblock %}
{% block content %}

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <form method="POST" action="/accounts/team/create/">
        <!-- Email input -->
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="text" id="form1Example1" class="form-control" name="team_name" />
            <label class="form-label" for="form1Example1">Team name</label>
        </div>

        <div class="form-outline mb-4">
            <input type="text" id="form1Example1" class="form-control" name="college" />
            <label class="form-label" for="form1Example1">College</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="text" id="form1Example2" class="form-control" name="city" />
            <label class="form-label" for="form1Example2">City</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="text" id="form1Example2" class="form-control" name="info" />
            <label class="form-label" for="form1Example2">Info </label>
        </div>



        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Save and add members</button>
    </form>
</div>

</div>
{% endblock %}