{% extends 'base.html' %}
{% block title %} EventsPortal | login
{% endblock %}
{% block content %}
<div class="container-fluid mt-3" style="background-color: black;">
    <div class="row justify-content-center g-3">
        <div class="col-lg-8 col-12 col-sm-12 col-md-8 text-white listevents rounded-3">

            <div class="container-fluid">
                <div class="row justify-content-evenly">
                    <div class="col-6">
                        <p style="font-size: 1.4vw;" class="pt-2">Events</p>
                    </div>
                    <div class="col-6 ms-auto text-end" style="font-size: 1.4vw;" class="pt-2"><a href="#"
                            style="text-decoration: none;">&#10006;</a></div>
                </div>

                <div class="row">
                    <div class="col-12 eventcard rounded-3">
                        <div class="pt-4 pb-3">

                            <div class="container">
                                <div class="row justify-content-evenly">
                                    <div class="col">
                                        <p class="fs-4">Online Group-Singing Competiton</p>
                                    </div>
                                    <div class="col text-end">
                                        <button type="button" class="btn btn-secondary "><a href="#"
                                                class="text-white text-decoration-none">Register Now</a></button>
                                    </div>
                                </div>
                            </div>

                            <ul>Rules</ul>
                            <ul type="none">
                                <ul type="solid">
                                    <li>There is no registration fee for this event.</li>
                                    <!-- <li></li> -->
                                    <li>The group has to perform any one song of their choice.</li>
                                    <li>The song should only be in Hindi or English.</li>
                                    <li>Minimum Participants per group is 3 people.</li>
                                    <li>No instruments or Karaoke are allowed.</li>
                                    <li>Participants need to provide the extracted audio out of the video separately.
                                    </li>
                                    <li>Maximum performance time for this round is 5 minutes.</li>
                                    <li>The audio quality should be clear.</li>
                                    <li>You have to submit the Google Drive Link of the folder which contains video and
                                        extracted audio at www.alcheringa.in/registrations/ with provided access.</li>
                                    <li>The decision of the judges will be final and binding in all cases.</li>
                                    <li>Organizers have full authority to disqualify the participation in case of any
                                        discrepancy.</li>
                                </ul>
                            </ul>

                            <!-- <ul>Judging Criteria</ul>
                      <ul type="none">
                        <ol>
                            <li>Story Telling</li>
                            <li>Creativity and Originality</li>
                            <li>Screenplay and Actor's performance.</li>
                            <li>Technical Execution: Camera / Sound / Light / Editing</li>
                            <li>Overall Impression</li>
                        </ol>
                      </ul> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-white registeredevents mx-3 rounded-3">
            <p class="fs-2 pt-2 text-center">Registered Events
            <div class="row px-3">
                {% for data in registered_events %}
                <div class="col-12 registeredevent fs-5 my-2 py-2 rounded-3">
                    <span>
                        {{data.event.title}}
                        <button class="btn btn-secondary py-1" style="float: right;"
                            onclick="displayform(this)">SUBMIT</button>
                    </span>
                    <form action="#" method="POST" style="display: none;" id="formrap">
                        <select class="form-select form-select-sm mt-2 bg-dark text-white border-0"
                            aria-label="Default select example">
                            <option selected>Select your Team Name</option>
                            {% for team in data.subteams %}
                            <option value="{{id}}">{{team.title}}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group mt-1">
                            <input type="url" class="form-control py-0 fs-6 bg-dark text-white border-0"
                                placeholder="Paste the link here" name="submitlink">
                            <button class="btn btn-secondary py-0" type="button">SUBMIT</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


<script>
    function displayform(param) {
        param.style.display = "none";
        document.getElementById('formrap').style.display = "block";
    }
</script>
{% endblock %}