{% extends 'base.html' %}
{% block title %} EventsPortal | login
{% endblock %}
{% block content %}
<div class="container-fluid mt-3" style="background-color: black;">
  <div class="row justify-content-center g-3">
    <div class="col-lg-8 col-12 col-sm-12 col-md-8 text-white listevents rounded-3">

      <div class="container-fluid">
        <div class="row justify-content-evenly">
          <div class="col-6">
            <p style="font-size: 1.4vw;" class="pt-2">Events</p>
          </div>
          <div class="col-6 ms-auto text-end" style="font-size: 1.4vw;" class="pt-2"><a href="/accounts/profile/"
              style="text-decoration: none;">&#10006;</a></div>
        </div>

        <div class="row">
          <div class="col-12 eventcard rounded-3">
            <div class="pt-4 pb-3">

              <div class="container">
                <div class="row justify-content-evenly">
                  <div class="col">
                    <p class="fs-4">Online Solo-Guitar Competiton</p>
                  </div>
                  <div class="col text-end">
                    <button type="button" class="btn btn-secondary "><a href="/events/register/{{event_name}}/subteam"
                        class="text-white text-decoration-none">Registrations will open soon.</a></button>
                  </div>
                </div>
              </div>

              <ul>Rules</ul>
              <ul type="none">
                <ul type="solid">
                  <li>There is no registration fee for this event.</li>
                  <!-- <li></li> -->
                  <li>Contestants have to perform solo.</li>
                  <li>Time limit is 5 minutes.</li>
                  <li>The audio quality should be clear.</li>
                  <li>You have to submit the Google Drive Link of the video at www.alcheringa.in/registrations/ with
                    provided access.</li>
                  <li>The decision of the judges will be final and binding in all cases.</li>
                  <li>Organizers have full authority to disqualify the participation in case of any discrepancy.</li>
                </ul>
              </ul>

              <!-- <ul>Judging Criteria</ul>
                      <ul type="none">
                        <ol>
                            <li>Story Telling</li>
                            <li>Creativity and Originality</li>
                            <li>Screenplay and Actor's performance.</li>
                            <li>Technical Execution: Camera / Sound / Light / Editing</li>
                            <li>Overall Impression</li>
                        </ol>
                      </ul> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'events/registered_events.html' %}
  </div>

</div>
{% endblock %}