{% extends 'base.html' %}
{% block title %} EventsPortal | login
{% endblock %}
{% block content %}
<div class="container-fluid mt-3" style="background-color: black;">
  <div class="row justify-content-center g-3">
    <div class="col-lg-8 col-12 col-sm-12 col-md-8 text-white listevents rounded-3">

      <div class="container-fluid">
        <div class="row justify-content-evenly">
          <div class="col-6">
            <p style="font-size: 1.4vw;" class="pt-2">Events</p>
          </div>
          <div class="col-6 ms-auto text-end" style="font-size: 1.4vw;" class="pt-2"><a href="#"
              style="text-decoration: none;">&#10006;</a></div>
        </div>

        <div class="row">
          <div class="col-12 eventcard rounded-3">
            <div class="pt-4 pb-3">

              <div class="container">
                <div class="row justify-content-evenly">
                  <div class="col-8">
                    <p class="fs-4">Online Rap Competition</p>
                  </div>
                  <div class="col-4 text-end">
                    <button type="button" class="btn btn-secondary "><a href="#"
                        class="text-white text-decoration-none">Register Now</a></button>
                  </div>
                </div>
              </div>

              <!-- <p class="px-4">
                            Are you an expression king or queen?
                        </p> -->

              <ul>Rules</ul>
              <ul type="none">
                <ul type="solid">
                  <li>There is no registration fee for this event.</li>
                  <!-- <li></li> -->
                  <li>You have to submit your individual Rap video in the form of a Google Drive Link at
                    www.alcheringa.in/registrations/ with provided access.</li>
                  <li>Duration of the video should not exceed 6 minutes.</li>
                  <li>Participants can perform in Hindi/English only.</li>
                  <li>Minimum age limit for the competition is 15.</li>
                  <li>The video content should be raw and original. The use of any special effects is strictly
                    prohibited.</li>
                  <li>Background lyrics are not allowed.</li>
                  <li>Participants can play their own beats.</li>
                  <li>Vulgarity in any form will not be allowed in the competition.</li>
                  <li>The jury decision will be final and binding in all cases.</li>
                  <li>Organizers have full authority to disqualify the participation in case of any discrepancy.</li>
                </ul>
              </ul>

              <!-- <ul>Judging Criteria</ul>
                      <ul type="none">
                        <ol>
                            <li>Creativity</li>
                            <li>Actual Enactment</li>
                        </ol>
                      </ul> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-12 col-sm-12 col-md-6 text-white registeredevents mx-3 rounded-3">
      <p class="fs-2 pt-2 text-center">Registered Events
      <div class="row px-3">
        {% for data in registered_events %}
        <div class="col-12 registeredevent fs-5 my-2 py-2 rounded-3">
          <span>
            {{data.event.title}}
            <button class="btn btn-secondary py-1" style="float: right;" onclick="displayform(this)">SUBMIT</button>
          </span>
          <form action="#" method="POST" style="display: none;" id="formrap">
            <select class="form-select form-select-sm mt-2 bg-dark text-white border-0"
              aria-label="Default select example">
              <option selected>Select your Team Name</option>
              {% for team in data.subteams %}
              <option value="{{id}}">{{team.title}}</option>
              {% endfor %}
            </select>
            <div class="input-group mt-1">
              <input type="url" class="form-control py-0 fs-6 bg-dark text-white border-0"
                placeholder="Paste the link here" name="submitlink">
              <button class="btn btn-secondary py-0" type="button">SUBMIT</button>
            </div>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div>


<script>
  function displayform(param) {
    param.style.display = "none";
    document.getElementById('formrap').style.display = "block";
  }
</script>
{% endblock %}