{% extends 'base.html' %}
{% block title %} EventsPortal | login
{% endblock %}
{% block content %}
<div class="container-fluid mt-3" style="background-color: black;">
  <div class="row justify-content-center g-3">
    <div class="col-lg-8 col-12 col-sm-12 col-md-8 text-white listevents rounded-3">

      <div class="container-fluid">
        <div class="row justify-content-evenly">
          <div class="col-6">
            <p style="font-size: 1.4vw;" class="pt-2">Events</p>
          </div>
          <div class="col-6 ms-auto text-end" style="font-size: 1.4vw;" class="pt-2"><a href="/accounts/profile/"
              style="text-decoration: none;">&#10006;</a></div>
        </div>

        <div class="row">
          <div class="col-12 eventcard rounded-3">
            <div class="pt-4 pb-3">

              <div class="container">
                <div class="row justify-content-evenly">
                  <div class="col">
                    <p class="fs-4">Online Short Movie Making</p>
                  </div>
                  <div class="col text-end">
                    <button type="button" class="btn btn-secondary "><a href="/events/register/{{event_name}}/subteam"
                        class="text-white text-decoration-none">Registrations will open soon.</a></button>
                  </div>
                </div>
              </div>

              <p class="px-4">Tired of the typical cinema?? Do you think that the time has arrived to come out of the
                clichéd movies and show the world what real movies are about? If you agree and want to show the world
                your direction skills, then the stage is set for you to bring a change by depicting your ideas with the
                help of this movie making competition.</p>

              <ul>Rules</ul>
              <ul type="none">
                <ul type="solid">
                  <li>There is no registration fee for this event.</li>
                  <li>The theme as well as the genre of the short movie are not imposed.</li>
                  <li>The short movie should not last for more than 12 minutes (credits included).</li>
                  <li>Suitable for all audiences: No obscenity. No Nudity. No Excessive violence. SHORT MOVIE deemed
                    obscene or defamatory will be disqualified.</li>
                  <li>Short movies have to be shot in either Hindi or English.</li>
                  <li>You have to submit the Google Drive Link of the video at www.alcheringa.in/registrations/ with
                    provided access.</li>
                  <li>The decision of the judges will be final and binding in all cases.</li>
                  <li>Organizers have full authority to disqualify the participation in case of any discrepancy.</li>
                </ul>
              </ul>

              <ul>Judging Criteria</ul>
              <ul type="none">
                <ol>
                  <li>Story Telling</li>
                  <li>Creativity and Originality</li>
                  <li>Screenplay and Actor's performance.</li>
                  <li>Technical Execution: Camera / Sound / Light / Editing</li>
                  <li>Overall Impression</li>
                </ol>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}