{% extends 'base.html'%} {% block title %} EventsPortal | login{% endblock %}
{% block content %}
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        Subteams added
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <ul class="list-group">
            {% for team in subteams %}
            <li class="list-group-item">{{team.name}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<a href="/events/register/{{event.id}}/subteam" class="btn btn-primary" role="button">
    Add Team
</a>
{% endblock %}